.name{
    display: flex;
    flex-direction: column;
    color:white;
}
.name-mr{
    font-size: 6.250rem;
    font-family: 'Kaisei Decol', serif;
    margin-left: 3rem ;
    
}
.name-y{
    font-size: 6.250rem;
    font-family: 'Kaisei Decol', serif;
    
}
.name-j{
    font-size: 6.250rem;
    font-family: 'Kaisei Decol', serif;
}