.navigation ul{
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 100vw;
    justify-content: space-around;
    background-color: white;
    color: black;
    list-style-type: none;
    text-decoration: none;

    li{
        padding: 2rem;
        width: 100%;
        display: flex;
        justify-content:space-around;
        a{
            align-self: space-around;
            display: flex;
        }
        &:hover{
            a{
                color: white;

            }
            background-color: black;
            color: white;
        }
        &:active{
            text-decoration: underline;
        }
    }
        
    

    a{
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
        &:active{
            text-decoration: underline;
        }


    }



}
