@import '../library/basics';
@import '../library/navigation';
@import '../library/media_querie';

header{
    font-size: 2rem;
    text-align: center;
}

h3{
    font-size: 1.5rem;
    text-align: center;
}
table{
    border: white 1px solid;
    width: 45%;
    height: 30em;
    clear: both;
    position: relative;
}
.album_one{
    float: right;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 10px;
}
.album_two{
    float: left;
    position: absolute;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
}
thead{
    text-align: center;
    padding: 20px;
    text-decoration: underline;
}
td{
    padding: 10px;
    border-radius: 10px;
    border-color: black;
    font-family: 'Merriweather', serif;
}
tbody{
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
a{
    color: yellow;
    cursor: pointer;

}
@media (max-width: 490px) {
    .album_one{
        float: none;
        width: 100%;
        border: none;
    }
    .album_two{
        float: none;
        width: 100%;
        margin: 0;
        margin-top: 10px;
        border: none;
        thead tr td{
            font-size: 2rem
        }
    }
}


