*, *::before, *::after{
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body{
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: sans-serif;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;;
}
hr{
    overflow: auto;
}
