@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: black;
  font-family: sans-serif;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

hr {
  overflow: auto;
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  width: 100vw;
  padding: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: white;
  color: black;
  list-style-type: none;
  text-decoration: none;
}

.navigation ul li {
  padding: 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navigation ul li a {
  -ms-flex-item-align: space-around;
      align-self: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation ul li:hover {
  background-color: black;
  color: white;
}

.navigation ul li:hover a {
  color: white;
}

.navigation ul li:active {
  text-decoration: underline;
}

.navigation ul a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.navigation ul a:active {
  text-decoration: underline;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 31px;
  z-index: 100;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: gold;
  border-radius: 10px;
}

@media (max-width: 650px) {
  .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .toggle-button .bar {
    background-color: gold;
  }
  .navigation ul {
    display: none;
  }
  .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .navigation ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .navigation li {
    text-align: center;
  }
  .navigation .active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main {
    margin-top: 50px;
  }
}

@media (min-width: 651px) {
  .navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
}

.contact {
  margin: 300px;
  margin-top: 150px;
  margin-bottom: 0;
  display: -ms-grid;
  display: grid;
}

.contact .heading {
  text-align: center;
}

.contact section {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px;
  font-size: 30px;
}

.contact section .instagram-info:hover {
  color: #fb3958;
}

.contact section .twitter-info:hover {
  color: #1DA1F2;
}

.contact section .email-info:hover {
  color: #BB001B;
}

.contact section a {
  float: right;
  margin-left: 30px;
  color: white;
  text-decoration: none;
}

.contact section a:hover {
  text-decoration: underline;
}

.feedback {
  margin: 30px 400px;
}

.feedback form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feedback form label {
  margin-left: 40px;
  font-size: 2rem;
}

.feedback form textarea {
  margin: 30px;
  border-radius: 10px;
}

.feedback form input {
  margin: 40px;
  margin-top: 0;
  padding: 10px;
}

.feedback .feedback-info {
  text-align: center;
}

@media (max-width: 800px) {
  .contact {
    margin: 0;
    margin-top: 25px;
  }
  .feedback {
    margin: 0;
    margin: 20px;
  }
  .feedback label {
    margin-left: 10px;
  }
}

@media (max-width: 1000px) {
  .feedback {
    margin: 20px;
    min-width: 60%;
  }
}

@media (min-width: 1001px) {
  .feedback {
    min-width: 500px;
  }
}

button {
  background: black;
  color: white;
  border-radius: 10px;
  padding: 10px;
  border: none;
}

button:hover {
  background-color: white;
  color: black;
}
/*# sourceMappingURL=globals_contact.css.map */